<footer class= "pieblog">
    <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="navbar-text pull-left">
            Blog de Economia
        </div>
        <div class= "navbar-text pull-right">
        
        </div>
        <!--Below is the copyright information for the site. You can fill in your own here.-->
        <div class="navbar-text pull-left">
            <p>Informatorio 2023<br>
            Comision 5<br>
            Grupo 11<br>
        &copy; Hecho por Gerardo Ivars, 2023
        </div>
    </div>	
</footer>